@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.body{
    margin: 0;
}

html{
    font-family: 'Roboto', sans-serif;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 380px;
}
.display{
    border: 2px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: right;
    padding-top: 10px;
    padding-right: 10px;
    border-radius: 10px;
}
.disp{
    text-align: right;
}
.display-up{
    font-size: 25px;
}
.display-down{
    font-size: 40px;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 4px;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    background-color: rgb(165, 156, 156);
    padding: 10px;
    border-radius: 5px;
    transition: .2s;
}
.button:hover{
    cursor: pointer;
    filter: brightness(80%);
}

.number{
    background-color: rgb(96, 96, 174);
}